#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.card {
  border: 1px solid grey;
}

button {
  width: 120px;
  height: 60px;
  font-size: 20px;
  cursor: pointer;
}
button:hover {
  background-color: 0px grey;
  color: black; 
  border: 0px solid black;
}